{% extends "html5.html" %}

{% block html %}
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="/jpycal/static/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/jpycal/static/fullcalendar.css" />
        <link rel="stylesheet" type="text/css" href="/jpycal/static/jpycal.css" />
        <script type="text/javascript" src="/jpycal/static/jquery.js"></script>
        <script type="text/javascript" src="/jpycal/static/jquery-ui.js"></script>
        <script type="text/javascript" src="/jpycal/static/fullcalendar.js"></script>
        <script type="text/javascript" src="/jpycal/static/jpycal.js"></script>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
{% endblock %}
